<h1>Список статей</h1>
<%= link_to 'Создать новую статью', new_article_path%>
<table>
	<tr>
		<th>Название статиь</th>
		<th>Текст статьи</th>
	</tr>

	<% @articles.each do |article|%>
	<tr>
		<td><%=article.title%></td>
		<td><%=article.text%></td>
		<td><%= link_to 'Показать', article_path(article) %></td>
		<td><%= link_to 'Изменить', edit_article_path(article) %></td>
		<td><%= link_to 'Удалить', article_path(article), method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
	</tr>
	<%end%>

</table>